[workspace]
members = [
  "pfp",
  "cli",
]

[profile.dev]
opt-level = 3

[profile.test]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
