name: Expand macros

on:
  push:
    branches: [ expand ]

env:
  CARGO_TERM_COLOR: always

jobs:
  expand:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
    - uses: actions-rs/cargo@v1
      with:
        command: install
        args: cargo-expand
    - uses: actions-rs/cargo@v1
      with:
        command: expand
